@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #24292d;
    padding: 0;
    margin: 0;
}

/* -- header -- */

.header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #131313;
}

.header ul {
    padding: 20px 0px;
    margin: 0px auto;
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li .bt_header {
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    color: #ececec;
}

.header ul li .bt_header::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background-color: #131313;
    transition: width 0.3s, background-color 0s;
    transition-delay: 0s, 0.3s;
}

.header ul li .bt_header:hover::after {
    width: 100%;
    background-color: #ececec;
    transition: width 0.3s, background-color 0.0s;
}

.header .mon_cv {
    font-size: 17px;
    text-decoration: none;
    background-color: #eaa023;
    border-radius: 25px;
    padding: 5px 15px;
    color: black;
}

/* -- introduction -- */

#intro { 
    display: block;
    content: ""; 
    height: 100px;
    visibility: hidden; 
}

.introduction *{
    padding: 0;
    margin: 0;
}

.introduction h1 {
    color: #ececec;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.introduction {
    margin: 0% 14%;
    height: auto;
    overflow: hidden;
}

.introduction .img_me {
    height: 200px;
    border-radius: 50%;
    border: 7px solid #eaa023;
    float: left;
    shape-outside: circle();
    margin: 0px 40px 0px 20px;
}

.intro_text {
    margin: 2% 0px;
}

.introduction H3 {
    color: #c8c8c8;
    font-size: 22px;
    /* margin-top: 20px; */
}

.introduction .target {
    color: #c8c8c8;
    font-size: 17px;
    line-height: 180%;
}

.introduction .text_writing {
    position: relative;
}

.introduction .text_writing , .introduction .text_writing_balse {
    margin: 10px 0px 7px 0px;
    color: #c8c8c8;
    font-size: 20px;
}

.introduction .text_writing::after {
    content: '';
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    border-right: 2px solid #c8c8c8;
    /* animation: blink 0.8s infinite ease; */
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.introduction H3 a {
    text-decoration: none;
    color: #0069B3;
}

.introduction_valeurs {
    margin: 30px 18%;
    color: #c8c8c8;
}

/* -- specilizing -- */

.specilizing {
    background-color: #2f363e;
    border-radius: 20px;
    margin: 5% 10%;
    width: 80%;
    text-align: center;
    display: block;
    overflow: hidden;
    position: relative;
}

.specilizing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.specilizing::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.spetop * {
    padding: 0;
    margin: 0;
    color: white;
}

.spetop {
    position: relative;
    z-index: 1;
    margin-top: 25px;
    margin-bottom: 15px;
}

.spetop h3 {
    font-size: 23px;
    font-weight: 300;
    color: #F05D7B;
}

.spetop h2 {
    font-size: 30px;
}

.all_box * {
    padding: 0;
    margin: 0;
}

.all_box {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 25px;
}

.box_spe {
    transition-property: all;
    transition-duration: 0.2s;
    z-index: 1;
    width: 35%;
    height: 35%;
    margin: 2% 5%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}

.box_spe p{
    color: #ececec;
}


.box_spe:hover {
    transform: scale(1.1);
}

.box_spe img {
    height: 80px;
}

.box_spe .title_box {
    text-transform: uppercase;
    color: white;
}

@media(max-width: 1000px) {
    .box_spe {
        width: 70%;
    }
    .box_spe p {
        font-size: 20px;
    }
    .box_spe .title_box {
        font-size: 30px;
    }
}

/* -- background -- */

.title-heat {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #ececec;
}

.background::before { 
    display: block;
    content: " "; 
    margin-top: -60px;
    height: 60px;
    visibility: hidden; 
}

.background {
    margin: 2% 10%;
}

.timeline-section {
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
    margin: 0;
}
.timeline-items {
	margin: auto;
    padding: 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child {
	margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-dot {
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date {
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content {
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3 {
    padding: 0;
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p {
    margin: 0;
    padding: 0;
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 1000px) {
    .timeline-date {
        font-size: 22px;
    }
    .timeline-content h3 {
        font-size: 22px;
    }
    .timeline-content p {
        font-size: 17px;
    }
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

/* -- contact -- */

.contact {
    margin: 60px 10%;
}

.contact_side *{
    padding: 0;
    margin: 0;
}

.contact_side {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-copy {
    all: unset;
}

.box-contact , .box-copy {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    background-color: #2f363e;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
}

.box-copy {
    position: relative;
    cursor: pointer;
}

.box-contact img , .box-copy .contact_logo{
    width: 50px;
    height: auto;
    padding-bottom: 15px;
}

.box-contact p , .box-copy p{
    color: #ececec;
    font-size: 12px;
}

.copy_logo {
    position: absolute;
    width: 20px;
    top: 8%;
    left: 89%;
}

@media(max-width: 1250px) {
    .box-contact p , .box-copy p{
        font-size: 20px;
    }
    .box-contact , .box-copy {
        margin: 30px 0%;
    }
    .contact_side {
        justify-content: space-around;
    }
    .box-contact , .box-copy {
        width: 400px;
        height: 100px;
    }
}

/* -- Footer -- */

.footer *{
    padding: 0;
    margin: 0;
    color: #ececec;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #131313;
    height: auto;
    padding: 0% 10%;
    margin: 0;
    padding-bottom: 30px;
}

.side_footer h3{
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.formations {
    width: 33%;
}

.hobby {
    width: 33%;
}

.hobby ul li {
    font-size: 15px;
    list-style-type: none;
}

.navigation {
    width: 33%;
    font-size: 15px;
}

.navigation ul {
    list-style-type: none;
}

.formations ul li{
    text-align: left;
    font-size: 13px;
    list-style-image: url("../resource/check.svg");
}