@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #24292d;
}

/* -- introduction -- */

.introduction {
    margin: 2% 10%;
    height: 500px;
    background-color: blue;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduction img.me2 {
    height: 100%;
}


h3.intro-text-up {
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}

h1.intro-text {
    color: black;
    padding: 0px;
    margin: 0px;
    font-size: 45px;
}

a.download_cv {
    transition-property: font-size;
    transition-duration: 0.2s;
    color: black;
    text-decoration: none;
    padding: 13px 22px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-radius: 40px;
    background: linear-gradient(45deg,#755bea,#ff72c0);
}

a.download:hover {
    font-size: 16px;
}

/* -- specilizing -- */

.specilizing {
    background-color: #2f363e;
    border-radius: 20px;
    margin: 5% 10%;
    width: 80%;
    text-align: center;
    display: block;
    overflow: hidden;
    position: relative;
}

.specilizing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.specilizing::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.spetop *{
    padding: 0;
    margin: 0;
    color: white;
}

.spetop {
    margin-top: 25px;
}

.spetop h3{
    font-size: 20px;
    font-weight: 300;
    color: #F05D7B;
}

.all_box * {
    padding: 0;
    margin: 0;
}

.all_box {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box_spe {
    transition-property: all;
    transition-duration: 0.2s;
    z-index: 1;
    width: 35%;
    height: 35%;
    margin: 2% 5%;
    padding: 15px 0px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}

.box_spe:hover {
    transform: scale(1.1);
}

.box_spe img {
    height: 80px;
}

.box_spe .title_box {
    text-transform: uppercase;
    color: white;
}

.box_spe .title_box {
    color: white;
}

/* -- background -- */

.background h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

.background {
    margin: 2% 10%;
}

.timeline-section {
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
    margin: 0;
}
.timeline-items {
	margin: auto;
    padding: 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child {
	margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-dot {
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date {
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content {
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3 {
    padding: 0;
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p {
    margin: 0;
    padding: 0;
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 800px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}